body{
    font-family: 'proxima-nova', sans-serif;
}
.navbar{
    color: rgba(0, 0, 0, 0.65) !important;
    width: 100%;
    position: fixed;
    z-index: 99;
    
}
.nav-position{
    position: fixed;
    z-index: 99;
  }
 .nav-item a{
    color: rgba(0, 0, 0, 1) !important;
    font-size:20px;
    font-weight: 400;
    font-family: 'proxima-nova', sans-serif;
}
.home-bg{
    background-image: url(images/Rectangle\ 61.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#container-1 {
    position:relative;
    top: -104px;
    width: 100%;
    background: linear-gradient(108.45deg, rgba(83, 206, 218, 0.41) 18.74%, rgba(213, 232, 231, 0.37) 92.49%);
}
#img-1{
    position: relative;
    width: 100%;
    z-index: -1;
}
#img-2 {
    position: absolute;
    left: 0px;
    width:100% ;
}
#home-sec .sec-1{
    position: absolute;
    top: 25%;
   
}
#home-sec .sec-2{
    position: absolute;
    top: 26%;
    left: 50%;
}
#home-sec .sec-1 h2{
    font-family: 'proxima-nova', sans-serif;
    font-size: 64px;
    color: #000000;
    line-height: 107px;
}
#home-sec .sec-1 .read-more{
    font-size: 20px;
    color: #000000;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
}
#home-sec .sec-1 .img-2{
    height: 194px;
    position: absolute;
    top: 74%;
    right: 89px;

}
#about-sec{
    margin-top: -104px;
}
#about-sec .img-2{
    position: absolute;
    top: 72%;
    width: 300px;
    left: 30%;
}
#about-sec .text1{
    font-size:20px ;
    font-family: 'proxima-nova', sans-serif;
    color:rgba(0, 0, 0, 1) ;
    font-weight:400 ;

}
#about-sec .text2{
    font-size:40px ;
    font-family: 'proxima-nova', sans-serif;
    color:#000000 ;
    font-weight:normal ; 
}
#about-sec .text3{
    font-size:24px ;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(114, 114, 114, 1);
    font-weight:normal;  
}
#customizable-sec .text-1{
    font-family: 'proxima-nova', sans-serif;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
#customizable-sec .card{
    border: 1px solid rgba(255, 255, 255, 1);
    background: transparent;
    border-radius: 0px;
}
#customizable-sec .text-2{
    font-family: 'proxima-nova', sans-serif;
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
#customizable-sec .text-3{
    font-family: 'proxima-nova', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
}
#customizable-sec img{
    height: 84px;
    width: 84px;
}
#medicine-sec .text-1{
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;

}
#medicine-sec .text-2{
    font-family: 'proxima-nova', sans-serif;
    font-size: 40px;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;

}
#medicine-sec .card{
    border: 0px;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08) !important;
}
#medicine-sec .img-1{
    width: 300px;
    position: absolute;
    right: -180px;
    bottom: 85px;
}
#medicine-sec .card-title{
    font-family: 'proxima-nova', sans-serif;
    font-size: 25px;
   
    font-weight: 500;
}
 .card-title:hover{
    font-family: 'proxima-nova', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 500;
}

.card-body.active{
    font-family: 'proxima-nova', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 500;
    background-color: black;
}
.card-body:hover {
    font-family: 'proxima-nova', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 500;
    background-color: black;
}
#medicine-sec .card-text{
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
}
#medicine-sec .read-more {
    font-size: 12px;
    font-family: 'proxima-nova', sans-serif;
   
}
.why-choose-bg{
    background-image: url(images/Rectangle\ 73.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#why-choose .text-1{
    font-size: 40px;
    font-family: 'proxima-nova', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}
#why-choose .img-1{
    width: 300px;
    margin-top: -43px;
    margin-left: 10px;
}
#why-choose .text-2{
    font-size: 45px;
    font-family: 'proxima-nova', sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}
#why-choose .text-3{
    font-size: 25px;
    font-family: 'proxima-nova', sans-serif;
    color: #FFFFFF;
    font-weight: normal;
}
#why-choose .downward-arrow{
    position: absolute;
    right: 20px;
    margin-top: 295px;
}
#client-says .text-1{
    font-size: 40px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
}




@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

#client-says .card {
    position: relative;
    display: flex;
    width: 600px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px !important;
   
}

#client-says .card .card-body {
    padding: 1rem 1rem
}

#client-says.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

#client-says p {
    font-size: 25px;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    text-align: center;
}

#client-says h4 {
    line-height: .2 !important
}

#client-says .items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px
}

#client-says .slick-slide {
    margin: 10px
}

.media iframe,
.media-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, .1);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#client-says .media-content:before {
    content: '';
    position: absolute;
    height: 10%;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: inherit;
    background-position-y: 100%;
    filter: blur(10px)
}

#client-says.circle .media-content:before {
    width: 40%;
    left: 30%
}

#client-says .profile-image {
    width: 100%;
    height: 200px;
    border-top-left-radius: 11px !important;
    border-top-right-radius: 11px
}

#client-says .card-title {
    font-size: 22px;
    font-weight: 400;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(136, 136, 136, 1);
    text-align: center;
}
#client-says span{
    font-size: 14px;
    font-weight: 400;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(0, 0, 0, 1);
    text-align: center;
}
#client-says .client-name{
    font-size: 22px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(0, 0, 0, 1);
}
#client-says .slider-top{
    margin-top: -90px;
}
.get-updated-bg{
    background: rgba(11, 166, 181, 0.2);
}
#get-updated .text-1{
    font-size: 35px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(0, 0, 0, 1);
}
#get-updated .envelop{
    left: 51px;
    position: absolute;
    font-size: 26px;
}
#get-updated input{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 11px;
    width: 79%;
    background: transparent;

}
#get-updated .subscribe{
    font-size: 25px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    right: 200px;
}
#get-updated img
{
    width: 301px;
    position: absolute;
    left: -252px;
    top: -41px;
}
#footer .read-more{
    font-size: 20px;
    color: #000000;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    display: flex;
    width: 197px;
    justify-content: center;
}
#footer .text-1{
    font-size: 44px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(255, 255, 255, 1); 
}
#footer .text-2{
    font-size: 25px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(255, 255, 255, 1); 
}
#footer .text-3{
    font-size: 20px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(255, 255, 255, 1); 
}
#footer .text-4{
    font-size: 16px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(255, 255, 255, 1); 
}
#footer .text-5{
    font-size: 24px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(255, 255, 255, 1); 
}
#footer  a{
    font-size: 16px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(255, 255, 255, 1); 
}
#footer ul{
    list-style: none;
    
}
.social-media{
    background: white;
    border: white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    text-align: center;
}
.social-media i{
    font-size: 23px;
}
.social-media img{
    height: 20px;
}
/*********************************media Queries**************************************/
/* For 640 Resolution */  
@media only screen   
and (min-device-width : 360px)   
and (max-device-width : 640px)  
{
    #container-1 {
        position: relative;
        top: 0px;
      
    }
    .nav-bg{
        position: absolute !important;
        z-index: 99;
    }
  
#home-sec .sec-1 {
    position: absolute;
    top: 1px;
}
#home-sec .sec-2 {
    position: relative;
    top: 0px; 
    left: 0px; 
}
#about-sec {
    margin-top: 0px;
}
#about-sec .img-1 {
    height: 388px;
}
#medicine-sec .img-1 {
    width: 300px;
    position: absolute;
    right: 0px;
    bottom: 175px;
}
#get-updated .envelop {
    left: 67px;
    position: absolute;
    font-size: 26px;
}
#get-updated .subscribe {
    font-size: 25px;
    font-family: 'proxima-nova', sans-serif;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    right: 30px;
    top: 48px;
 }
 #get-updated input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 11px;
    width: 108%;
    background: transparent;
}
#home-sec .sec-1 h2 {
    font-family: 'proxima-nova', sans-serif;
    font-size: 25px;
    color: #000000;
    line-height: 30px;
}
}
/* For 1024 Resolution */  
@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
    
    #home-sec .sec-1 h2 {
        font-family: 'proxima-nova', sans-serif;
        font-size: 25px;
        color: #000000;
        line-height: 30px;
    }
    #home-sec .sec-1 {
        position: absolute;
        top: 76px;
    }
   
    #about-sec {
        margin-top: 0px;
    }
    #about-sec .img-1{
        height: 565px;
    }
    #medicine-sec .img-1 {
        width: 300px;
        position: absolute;
        right: 0px;
        bottom: 175px;
    }
    #get-updated .envelop {
        left: 139px;
        position: absolute;
        font-size: 26px;
    }
    #get-updated .subscribe {
        font-size: 25px;
        font-family: 'proxima-nova', sans-serif;
        color: rgba(0, 0, 0, 1);
        position: absolute;
        right: 144px;
    }
    #container-1 {
        position: relative;
        top: 0px;
      
    }
    .nav-bg{
        position: absolute !important;
        z-index: 99;
    }
    
} 